<header>
    <div class="container">
      <a routerLink="/" class="logo">FALCORP</a>
      <nav>
        <ul>
         <!-- <li><a routerLink="/">Home</a></li>-->
          <li><a routerLink="/post" routerLinkActive="active">Post</a></li>
          <li><a routerLink="/todo" routerLinkActive="active">Todo</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  