header {
    background: rgb(0, 153, 255);;
  }
  header .logo {
    font-weight: bold;
  }
  header nav {
    justify-self: right;
  }
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  header nav ul li {
    float: left;
  }
  header nav ul li a {
    padding: 1.5em;
    text-transform: uppercase;
    font-size: 0.8em;
  }
  header nav ul li a:hover {
    background: rgb(43, 195, 255);
  }
  