
<BODY>
    <h1>POSTS</h1>
    <div *ngFor='let post of posts$ | paginate: { itemsPerPage: 5, currentPage: p }' style="text-align:center">
     <P>ID: {{ post.id}}  </P>
     <P>TITLE: {{post.title}}</P>
     <p>BODY: {{post.body}}</p><hr>
    </div>
    </BODY>
    <div class="row d-none d-sm-block d-sm-none d-md-block">
      <div class="pagination justify-content-center sticky">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    
    